/* 
    Document   : style
    Created on : 2011.12.20., 21:50:24
    Author     : sanya
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

@import "bg_colors.css";
@import "tiles/calendar.css";
@import "tiles/image.css";
@import "tiles/investments.css";
@import "tiles/mail.css";
@import "tiles/messages.css";
@import "tiles/music.css";
@import "tiles/news.css";
@import "tiles/photos.css";
@import "tiles/store.css";
@import "tiles/weather.css";
@import "tiles/web.css";


body {
    padding-top: 100px;
    color: #fff;
    font-family: sans-serif;
    line-height: 1.3;
    atext-shadow: #fff 0 0 0.1em;
}
.grid_1, .grid_2 {
    height: 150px;
}
tile {
    display: block;
    margin: 0;
    padding: 0;
    height: 0;
}
tile content {
    display: block;
    padding: 20px;
    height: 110px;
}
tile content:hover {
    background: url(selected.png);
}
tile h2 {
    margin: 0;
    line-height: 1;
    font-size:28px;
    font-weight: normal;
}
tile p {
    margin:0;
    font-size: 15px;
}
tile span.bottom {
    position: absolute;
    left: 20px;
    bottom: 6px;
    font-size: 11px;
}
tile span.icon {
    position: absolute;
    bottom: 5px;
    left: 15px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: left top;
}
tile span.bigicon {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 110px;
    height: 110px;
    background-repeat: no-repeat;
    background-position: left top;
}
