tile.Mail {
    
}

tile.Mail:hover {
}

tile.Mail h2 {
}

tile.Mail span.icon {
  background-image: url(icon/mail-40.png);
}
tile.Mail span.count {
  position: absolute;
  bottom: 8px;
  right: 20px;
  font-size: 14px;
  font-weight: bold;
}
